<%- include('head') %>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <ul>
    <% users.forEach(function(user){ %>
      <li>
        <%= user.name %>: <%= user.email %>
      </li>
    <% }) %>
    </ul>
<%- include('footer') %>
