<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <% books.forEach((book) => { %>
      <li>
        <a href="/book/<%= book._id %>">
          <%= book.title%> by <%= book.author %>
        </a>
      </li>
    <% }); %>
  </ul>
</body>
</html>