<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <br>

    <label for="author">Author</label>
    <input type="text" name="author" id="author">
    <br>

    <label for="year">Year</label>
    <input type="text" name="year" id="year">
    <br>

    <label for="description">Description</label>
    <input type="text" name="description" id="description">
    <br>

    <button>Save</button>
  </form>
</body>
</html>